<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AvalonBeeX-training</title>
    <link rel="stylesheet" type="text/css" href="css/mainpage">
    <script src="socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>

    </script>
</head>

<body>
    <div id="gameWrapper">
        <p>Chào
            <span id="playerName" style="font-weight: bold" value=<%=name %> >
                <%= name %>
            </span> đã đến với phòng:
            <span id="playerRoom" style="font-weight: bold" value=<%=room %> >
                <%= room %>
            </span> AvalonBeeX-training
        </p>
        <div id="missionHistory"></div>
        <h2>Các người chơi trong phòng</h2>
        <div id="playerList">
        </div>
        <div id="death_vote" style="color: red"></div>
        <div id="teamleader" style="display: none">
            <p id="teamup_msg"></p>
            <button id="go" type="submit" style="cursor: pointer">OK</button>
        </div>

        <div id="system" style="display: none">
            <p>Team được lập bao gồm: </p>
            <div id="teammate"></div>
            <button id="TYes" style="cursor: pointer">Yes</button>
            <button id="TNo" style="cursor: pointer">Nope</button>
        </div>

        <div id="mission" style="display: none">
            <p>Bạn có quyết định cố gắn hết sức cho nhiệm vụ lần này?</p>
            <button id="MYes" style="cursor: pointer">Yes</button>
            <button id="MNo" style="display: none; cursor: pointer">Nope</button>
        </div>

        <div>
            <button id="start_game" type="submit" style="display:none">Start</button>
        </div>

        <div id="message"></div>
        <div id="play_ground" style="display:none">
            Your Role :
            <div id="player_role" style="cursor: pointer; font-size: 20px; font-weight: bold"></div>
            <div id="role_des" style="display:none"></div>
        </div>
    </div>
    <div id="gameNotification" style="display: none">Game result</div><button style="display: none" type="button"
        id="seeker_find_btn">OK</button>
    <form id="endgame_form" action="/" method="GET" style="display: none">
        <button type="submit" style="cursor: pointer">Main menu</button>
    </form>

    <script src="gamepageScript.js"></script>
</body>

</html>