<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AvalonBeeX-training</title>
    <link rel="stylesheet" type="text/css" href="css/mainpage">
    <script src="socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        let socket = io("http://localhost:9090");
        let isHost = false;
        let myId;
        let myRole;

        socket.on('server-gui-cap-nhat-khung-nhin', function (membersArray) {
            $('#playerList').html("");
            membersArray.forEach(function (member) {
                $('#playerList').append('<li class="player">' + member + '</li>')
            })
            //render player list vao mang hinh
            //xu li button player
            //chua can rule voi
            //game xu li 5 player trc
        })
        socket.on('server-yeu-cau-hien-thi-nut-play', function (){
            if(isHost)
            $('#start_game').show(100);
        })
        socket.on('server-yeu-cau-dung-hien-thi-nut-play', function (){
            if(isHost)
            $('#start_game').hide(100);
        })
        socket.on('server-xac-nhan-id', function(pid){
            myId = pid;
        })
        socket.on('server-xac-nhan-host', function(){
            isHost = true;
        })
        socket.on('server-gui-role', function(data){
            if(data.player == myId)
            {
                myRole = data.role;
                $("#play_ground").show(100);
                $("#player_role")[0].innerText = myRole;
            }
        })
        socket.on('server-yeu-cau-cap-nhat-player-list', function (membersWithRole){
            $('#playerList').html("");
            membersWithRole.forEach(function (member) {
                if(myRole == "Mực nô đùa"){//normal player sight
                    $('#playerList').append('<li class="player">' + member.name + '</li>')
                }
                else{//redteam or merlin sight
                    if(member.role == "Mực gian tà"||member.role == "Mực the assassin")
                    $('#playerList').append('<li class="player" style="color: red">' + member.name + '</li>')
                    else $('#playerList').append('<li class="player">' + member.name + '</li>')
                }
            })
        })
    </script>
</head>

<body>
    <p>Chào
        <span id="playerName" value=<%=name %> >
            <%= name %>
        </span> đã đến với phòng:
        <span id="playerRoom" value=<%=room %> >
            <%= room %>
        </span> AvalonBeeX-training
    </p>
    <h2>Các người chơi trong phòng</h2>
    <div id="playerList"></div>
    <div>
        <button id="start_game" type="submit" style="display:none">Start</button>
    </div>
    <div id="play_ground" style="display:none">
        Playground :
        <div id="player_role"></div>
    </div>
    <script> //script nay se dc dua di noi khac sau khi code xong
        let pname = $("#playerName")[0].innerText;
        let proom = $("#playerRoom")[0].innerText;
        // console.log(pname + ' -> ' + proom);
        $(document).ready(() => {
            socket.emit('client-gui-thong-tin-khoi-tao', {
                name: pname,
                room: proom
            })
        })
        $("#start_game").click(() => {
            $('#start_game').hide(100);
            socket.emit('client-start-game')
        })
    </script>
</body>

</html>