<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AvalonBeeX-training</title>
    <link rel="stylesheet" type="text/css" href="css/mainpage">
    <style>
        .wrapper {
            text-align: center;
        }
    </style>
    <!-- chua xai style dc -->
    <!-- <script src="socket.io/socket.io.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
    <div class="wrapper">
        <h1>Avalon from BeeX-training</h1>
        <p id="play">Play free now</p>
        <form action="/play" method="POST" id="play_form" style="display: none">
            <input type="text" name="name" id="name" placeholder="Tên hiển thị của bạn" required></input>
            <input type="text" name="room" id="room" placeholder="Tên phòng" required></input>
            <button id="to_game_page" type="submit">Play</button>
        </form>
        <p id="describe">Describe</p>
        <div id="des_form" style="display: none">
            <p>Mực + Tris + Ened là tác giả</p>
        </div>
    </div>
    <script>

        $("#play").click(() => {
            $("#play").css("color", "red");
            $("#describe").css("color", "black");
            $("#play_form").show(100);
            $("#des_form").hide(100);
        })
        $("#describe").click(() => {
            $("#play").css("color", "black");
            $("#describe").css("color", "red");
            $("#des_form").show(100);
            $("#play_form").hide(100);
        })
    </script>
</body>

</html>